<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>RasPi IP Index</title>
  <meta name="description" content="Monitor most recent known IP addresses for GoreLab RasPi Units" />
</head>

<body>
	<h1>GoreLab Raspberry Pi IP Address Index Page</h1>
	<h2>
		<div>Unit 1 : {{ ip1 }}</div>
		<div>Unit 2 : {{ ip2 }}</div>
		<div>Unit 3 : {{ ip3 }}</div>
		<div>Unit 4 : {{ ip4 }}</div>
		<div>Unit 5 : {{ ip5 }}</div>
		<div>Unit 6 : {{ ip6 }}</div>
	</h2>
</body>
</html>